body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.judul {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px; /* optional buat spasi kiri-kanan */
}


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  margin-top: 30px;
}


.card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  text-decoration: none;
  color: black;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;

  min-height: 220px;          /* bikin card lebih tinggi */
  display: flex;
  flex-direction: column;
  justify-content: center;    /* isi ke tengah */
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px 12px 0 0; /* rounding atas card */
  margin-bottom: 15px;          /* jarak ke content */
}


.card-icon {
  font-size: 40px;
  color: #4f46e5;
  margin-bottom: 10px;
}


.card h2 {
  margin-bottom: 15px;
}

.card p {
  color: #555;
  line-height: 1.5;
}



.card:hover {
  transform: translateY(-5px);
}

.detail {
  max-width: 700px;
  margin: 40px auto;
}

.back {
  text-decoration: none;
  color: #333;
  display: inline-block;
  margin-bottom: 20px;
}

/* judul */
.header-card {
  background: #2e2e2e;
  color: white;
  text-align: center;
  padding: 30px;
  border-radius: 15px;
  max-width: 900px;
  margin: 0 auto 30px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.header-card span {
    color: #00bcd4;
}
.header-card p {
  margin-top: 10px;
  color: #ccc;
}

.icon {
  font-size: 32px;
  margin-bottom: 15px;
}


#typing-text::after {
  content: "|";
  animation: blink 1s infinite;
}

.contact-section {
  max-width: 500px;
  margin: 0 auto;
}

.contact-section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-card {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #fff;

  background: #1f2933;
  padding: 16px 20px;
  border-radius: 14px;

  margin-bottom: 15px;
  transition: 0.3s ease;
}

.contact-card i {
  font-size: 24px;
  color: #4f46e5;
}

.contact-card a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  word-break: break-all;
}

.contact-card:hover {
  transform: translateY(-4px);
  background: #111827;
}


@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}


